.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border-radius: 0.9rem;
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 1rem;
}

.tablex {
  border-collapse: collapse;
  width: 100%;
}

.tablex th,
.tablex td {
  text-align: left;
  padding: 8px;
}

.tablex th {
  background-color: #f2f2f2;
}
